@model Domain.Productos

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>
<h4>Producto</h4>
<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tallas.Abreviatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tallas.Abreviatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

    </dl>
</div>
<div>
    <a class="btn btn-warning" href="@Url.Action("Edit", new { id = Model.ProductoId })">Volver a Editar</a>
    <a class="btn btn-info" href="@Url.Action("Index")">Volver a Lista</a>

</div>
