@model Domain.Productos

@{
    ViewBag.Title = "Details";
}
<link href="~/Css/Paginas.css" rel="stylesheet" />
<h2>Detalles Producto</h2>

<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Talla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Talla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

    </dl>
</div>
<div>
    <a class="btn Bordear  btn-warning" id="" href="@Url.Action("Edit", new { id = Model.ProductoId })">Volver a Editar</a>
    <a class="btn Bordear  btn-info" id="" href="@Url.Action("Index")">Volver a Lista</a>

</div>
