@model IEnumerable<Domain.Productos>

@{
    ViewBag.Title = "Index";
}
<link href="~/Css/Paginas.css" rel="stylesheet" />
<h2>Mantenimiento Articulos</h2>

<p>
    <a class="btn btn-primary" id="Bordear" href="@Url.Action("Create")">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Talla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Talla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoId).

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Foto))
                    {
                        <center>
                            <img src="@Url.Content(item.Foto)"class="img-mid imagen-increase-big" />
                        </center>
                    }
                    else
                    {
                        <center>
                            <img src="~/images/user.png" class="img-mid imagen-increase-big" />
                        </center>
                    }
                </td>
                <td>
                    <a class="btn btn-warning" id="Bordear" href="@Url.Action("Edit", new { id = item.ProductoId })">  Editar</a>

                    <a class="btn btn-info" id="Bordear" href="@Url.Action("Details", new { id = item.ProductoId })"> Detalles</a>

                    <a class="btn btn-danger" id="Bordear" href="@Url.Action("Delete", new { id = item.ProductoId })"> Borrar</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@*<div class="table-responsive">
    <table id="oTable" class="display hover table table-amaru-dark " data-page-length="25">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Talla)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <input value="@item.ProductoId" type="checkbox" />
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Foto))
                    {
                        <center>
                            <img src="@Url.Content(item.Foto)" class="img-mid imagen-increase-big" />
                        </center>
                    }
                    else
                    {
                        <center>
                            <img src="~/images/user.png" class="img-mid imagen-increase-big" />
                        </center>
                    }
                </td>
                <td>
                    @*<small>
                <a href="@Url.Action("Edit", new { id = item.ProductoId })"><i class="text-muted icon-pencil"></i></a>
            </small>
            &nbsp;<a href="@Url.Action("Details", new { id = item.ProductoId })">@item.Nombre</a>
                </td>
                <th>
                    @Html.DisplayNameFor(model => model.Talla)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Foto)
                </th>
            </tr>
            }
        </tbody>
    </table>
</div>*@
