@model Domain.DetalleVentas

@{
    ViewBag.Title = "CreateDetalleVenta";
    Layout = null;
}
<link href="~/Css/Paginas.css" rel="stylesheet" />
@using (Html.BeginForm("CreateDetalleVenta", "Ventas", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.VentaId)
    <div class="form-inline">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.LabelFor(model => model.ProductoId,"Codigo Articulo", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.ProductoId, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductoId, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label " })
        @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Descuento, htmlAttributes: new { @class = "control-label " })
        @Html.EditorFor(model => model.Descuento, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Descuento, "", new { @class = "text-danger" })

        <input type="submit" value="Crear Detalle" id="" class="btn Bordear  btn-primary" />

        <a class="btn Bordear  btn-info" id="" href="@Url.Action("CreateDetalleVenta",new {id=Model.VentaId})">Buscar Articulo</a>

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   
   

}
