@model Tienda.Models.DetalleVentaViewModel

@{
    ViewBag.Title = "CreateDetalleVenta";
}
<link href="~/Css/Paginas.css" rel="stylesheet" />

<h2>Crear Detalle Venta</h2>



<hr />


@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}


@using (Html.BeginForm("BuscarArticulo", "Ventas", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.VentaId)
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductoId, "Categorias", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        <select id="CategoriaId" name="CategoriaId" class="ui search dropdown form-control">
                            <option value="">Categorias...</option>
                            @foreach (var item in Model.GetProductos)
                            {
                                if (item.CategoriaId > 0)
                                {
                                    <option value="@item.CategoriaId" selected>@item.Categorias.Nombre</option>


                                }
                                else
                                {
                                    <option value="@item.CategoriaId">@item.Categorias.Nombre</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.ProductoId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductoId, "Producto", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        <select id="ProductoId" name="ProductoId" class="ui search dropdown form-control">
                            <option value="">Productos...</option>
                            @foreach (var item in Model.GetProductos)
                            {
                                if (Model.ProductoId > 0 && Model.ProductoId == item.ProductoId)
                                {
                                    <option value="@item.ProductoId" selected>@item.Descripcion</option>


                                }
                                else
                                {
                                    <option value="@item.ProductoId">@item.Descripcion</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.ProductoId, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descuento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descuento, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descuento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="hidden-sm hidden-xs visible-lg visible-md form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="" value="Agregar" class="btn Bordear  btn-primary" />
                        @Html.ActionLink("Volver Detalles", "Details", new { id = Model.VentaId }, new { @class = "btn Bordear btn-info" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @if (!string.IsNullOrEmpty(Model.Foto))
            {

                <img id="Imagen" src="@Url.Content(Model.Foto)" style="width:50% ;height:auto; max-height:300px" />

            }
            else
            {
                <center>
                    <img id="Imagen" src="~/images/user.png" />
                </center>
            }
        </div>
        <div class="hidden-md hidden-lg visible-xs visible-sm  form-horizontal">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="" value="Agregar" class="btn Bordear  btn-primary" />
                    @Html.ActionLink("Volver Detalles", "Details", new { id = Model.VentaId }, new { @class = "btn Bordear btn-info" })
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#producto')
            .dropdown()
            ;
        //$('#producto').change(function () {



        //    });

        // });
        $('#ProductoId').change(function () {
                  $.ajax({
                            type: 'POST',
                            url: '@Url.Action("BuscarPrecio", "Ventas")',
                            dataType: 'json',
                 data: {
                     ProductoId: $('#ProductoId').val()
                      },


                      success: function (data) {
                          debugger;

                        //  var Foto = data.Foto;
                          $('#Precio').val(data.Precio);
                         // $('#prueba').val(data.Foto);
                          // document.getElementById('prueba').src = "~/images/user.png";
                         
                          $("#Imagen").attr("src", "" + data.FotoFull);
                     
                      },
             });



         });

        $('#btnAgregar').click(function () {

            var productoid = $("#producto").val();
            alert(productoid + "Segundo");
             $.ajax({
                            type: 'POST',
                            url: '@Url.Action("BuscarArticulo", "Ventas")',
                            dataType: 'json',
                 data: {
                     Cantidad: $('#Cantidad').val(), ProductoId: productoid,
                     Descuento: $('#Descuento').val(), VentaId:@Model.VentaId,
                     Precio : $('#Precio').val() },


             });
        });

        $(function () {
        $("#btnAgregars").click(function () {

            var url = "@Url.Action("BuscarArticulo", "Ventas")";
            var productoId = $('#producto').val();
            var cantidad = $('#Cantidad').val();
            var descuento = $('#Descuento').val();
            var precio = $('#Precio').val();


            var data = { ProductoId: productoId, Cantidad: cantidad, Descuento: descuento, Precio: precio, VentaId: @Model.VentaId };

            $.post(url,data).done(function (data) {

                if (data.Ok) {

                    $("#div-alerta").removeClass("alert-danger").addClass("alert-success").slideDown(200);
                } else {
                    alert("No Cuentas Con esa Cantidad de Articulos");
                    $("#div-alerta").removeClass("alert-success").addClass("alert-danger").slideDown(200);
                }

                $("#mensaje-alerta").html(data.Mensaje)

            }).fail(manejarErrorAjax);


        });

        $("#btn-cerrar-alerta").click(function () {
            $(this).parent().slideUp(200);


        });

        function manejarErrorAjax(err) {

            console.log(err.responseText);
        };
   });
    </script>



}
