@model Tienda.Models.PagoViewModel

@{
    ViewBag.Title = "Create";
    Layout = null;
}
<style>
    h2, th {
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }

    td {
        text-shadow: 2px 2px 5px gray;
    }

    #Bordear {
        border-radius: 40%;
    }

        #Bordear:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            font-size: 15px;
        }
</style>



@using (Html.BeginForm("CreatePago", "Ventas", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ClienteId)
    @Html.HiddenFor(model => model.VentaId)
    @Html.HiddenFor(model => model.Fecha)

    <div class="form-horizontal">


        <div class="form-group">
            @Html.LabelFor(model => model.Abono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 col-xs-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Abono, new { @id = "Prueba" })
                    @Html.ValidationMessageFor(model => model.Abono, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.MedioPagoId, "Medio Pago", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MedioPagoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MedioPagoId, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.TotalNeto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalNeto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalNeto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Vuelto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vuelto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vuelto, "", new { @class = "text-danger" })
            </div>
        </div>






        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="Bordear" value="Realizar Pago" class="btn btn-primary" />
            </div>
        </div>


    </div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $('#Prueba').prop('checked') (function () {

            alert('Aqui estuvo');
                



         });

        if ($('#Prueba').attr('checked')) {
            alert('Seleccionado');
        }
        if ($('#Prueba').prop('checked')) {
            alert('Seleccionado');
        }
    </script>

}
