@model Domain.Ventas

@{
    ViewBag.Title = "Create";
}
<link href="~/Css/Paginas.css" rel="stylesheet" />


<h4>Crear Nueva Venta</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.VentaId)
        @Html.HiddenFor(model => model.TotalOrden)
        @Html.HiddenFor(model => model.ClienteId)

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha,"Fecha Venta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, "Nombre Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" id="Bordear" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


    <div>
        @Html.ActionLink("Volver a lista Facturas", "Index", new { }, new { @class = "btn btn-info", @id = "Bordear" })
      
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")*

    @*<script type="text/javascript" language="javascript">

            $('#txtNombre').keyup(function () {

                var porId = document.getElementById("txtNombre").value;
                var url = "@Url.Action("getarticulos", "Ventas")";
                var data = { id: porId };

                $.get(url, data).done(function (data) {
                    $("#myDatatable").append(data);

                });

            });



        </script>*@
}