@model Domain.DetalleVentas

@{
    ViewBag.Title = "DeleteDetalleVenta";
}

<link href="~/Css/Paginas.css" rel="stylesheet" />
<h2>Borrar Detalle Venta</h2>

<h3>Estas Seguro Borrar Este Detalle?</h3>
<hr />
<div>
    @Html.HiddenFor(model => model.VentaId)

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Productos.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ventas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ventas.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" id="" value="Borrar" class="btn Bordear  btn-danger" /> |
            @Html.ActionLink("Volver Lista Detalles", "Details", new { id = Model.VentaId }, new { @class = "btn Bordear btn-info"})
        </div>
    }
</div>
