@model Domain.Ventas

@{
    ViewBag.Title = "Delete";
}

<link href="~/Css/Paginas.css" rel="stylesheet" />

<h2>Borrar Venta</h2>

<h3>Estas Seguro Borrar Esta Venta?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalOrden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalOrden)
        </dd>

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Borrar" id="" class="btn Bordear  btn-danger" /> |
        @Html.ActionLink("Volver Lista Detalles", "Details", new { id = Model.VentaId }, new { @class = "btn Bordear btn-info"})
    </div>
    }
</div>
