@model Domain.DetalleVentas

@{
    ViewBag.Title = "DetailsDetalleVenta";
}
<link href="~/Css/Paginas.css" rel="stylesheet" />
<h2>Detalle Venta</h2>
<hr />
<div>
   

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Productos.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ventas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ventas.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Detalle Venta", "EditDetalleVenta", new { id = Model.DetalleVentasId }, new { @class = "btn Bordear btn-warning"}) |
    @Html.ActionLink("Volver Lista Detales", "Details", new { id = Model.VentaId }, new { @class = "btn Bordear btn-info"})
</p>
