@model Tienda.Models.VentaViewModel

@{
    /**/

    ViewBag.Title = "Details";
}
<link href="~/Css/Paginas.css" rel="stylesheet" />
<h2>Detalles Factura  # @Model.VentaId</h2>

<hr />



@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-danger">
        @ViewBag.Mensaje
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}


<div>

    <dl class="dl-horizontal">
        <dt>
           Nombre Cliente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
           Fecha Orden
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
           Total Orden
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalOrden)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.VentaId }, new { @class = "btn btn-warning", @id = "Bordear" }) 
    @Html.ActionLink("Volver Facturas", "Index",new { }, new { @class = "btn btn-info", @id = "Bordear" })
</p>

<hr />
@{
    Html.RenderAction("CreateDetalleVentaPartial", new { id = Model.VentaId } );
}
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DetalleVentas.FirstOrDefault().Productos.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetalleVentas.FirstOrDefault().Productos.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetalleVentas.FirstOrDefault().Ventas.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetalleVentas.FirstOrDefault().Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetalleVentas.FirstOrDefault().Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetalleVentas.FirstOrDefault().Descuento)
        </th>
        <th>Subtotal</th>
        <th></th>
    </tr>

    @foreach (var item in Model.DetalleVentas)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.Descripcion)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Productos.Foto))
            {
                <center>
                    <img src="@Url.Content(item.Productos.Foto)" class="img-mid imagen-increase-big" />
                </center>
            }
            else
            {
                <center>
                    <img src="~/images/user.png" class="img-mid imagen-increase-big" />
                </center>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ventas.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @item.Subtotal.ToString("C2")
        </td>
        <td>
            @Html.ActionLink("Editar", "EditDetalleVenta", new { id = item.DetalleVentasId }, new { @class = "btn btn-warning", @id = "Bordear" })
            @Html.ActionLink("Detalle", "DetailsDetalleVenta", new { id = item.DetalleVentasId }, new { @class = "btn btn-info", @id = "Bordear" })
            @Html.ActionLink("Borrar", "DeleteDetalleVenta", new { id = item.DetalleVentasId }, new { @class = "btn btn-danger", @id = "Bordear" })
        </td>
    </tr>
    }

</table>
<hr />
<div class="row">
    <div class="form-horizontal col-md-5">


        <div class="form-group">
            @Html.LabelFor(model => model.TotalBruto, "TotalBruto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalBruto, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TotalNeto,"TotalNeto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalNeto, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })

            </div>
        </div>

    </div>


</div>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info" id="Bordear" data-toggle="modal" data-target="#myModal">Facturar</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                
                <h4 class="modal-title"align="center">Pago</h4>
               
            </div>
            <div class="modal-body">
                @{Html.RenderAction("CreatePago", new { id = Model.VentaId }); }
            </div>
            <div class="modal-footer">
                <button type="button" id="Bordear" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>


                    $(document).ready(function () {


                        $("#ProductoId").val("");
                        $("#ProductoId").focus();


                    });




       

        $("#prueba").click(function () {
            $(this).hide();
           
            });

   










    </script>

<script type="text/javascript">

                                    debugger;
                                $('#Monto').keyup(function () {
                                    if ($('#Monto').val() == '' || $('#Monto').val() == '0') {

                $('Vuelto').val(0);
            return;
        }
        var vuelto = parseInt($('#Monto').val()) - parseInt($('#TotalNeto').val());
        $('#Vuelto').val(vuelto.toString());
});
</script>

}

