@model IEnumerable<Domain.Productos>

<table class="table table-striped">
    <tr>

        <th> @Html.DisplayNameFor(model => model.CodigoId)   </th>
        <th> @Html.DisplayNameFor(model => model.Descripcion)   </th>
        <th> @Html.DisplayNameFor(model => model.Precio)   </th>
        <th> @Html.DisplayNameFor(model => model.Cantidad)   </th>
        <th> @Html.DisplayNameFor(model => model.Tallas.Abreviatura)   </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>

        <td> @Html.DisplayFor(modelItem => item.CodigoId)   </td>
        <td> @Html.DisplayFor(modelItem => item.Descripcion)   </td>
        <td> @Html.DisplayFor(modelItem => item.Precio)   </td>
        <th> @Html.DisplayFor(modelItem => item.Cantidad)   </th>
        <th> @Html.DisplayFor(modelItem => item.Tallas.Abreviatura)   </th>
    </tr>

    }
</table>