@model IEnumerable<Domain.Ventas>

@{
    ViewBag.Title = "Index";
}
<link href="~/Css/Paginas.css" rel="stylesheet" />



<h2>Pagina Principal</h2>


<br />

    @using (Html.BeginForm())
    {
<div class="form-inline">
    <div class="form-group">
        @Html.Label("Buscar", htmlAttributes: new { @class = "control-label" })
        @Html.Editor(" ", new { htmlAttributes = new { @class = "form-control buscarNumero", @placeholder = "Numero Factura" } })



        @Html.Editor(" ", new { htmlAttributes = new { @class = "form-control buscarCliente", @placeholder = "Nombre Cliente" } })
    </div>
    <div class="form-group">
  
        <div class='input-group date' id='fechaInicial'>

            <input id="sFechaInicial" name="sFechaInicial" type="text" value="@ViewBag.FechaInicial.ToString("dd/MM/yyyy")" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
   
        <div class='input-group date' id='fechaFinal'>

            <input id="sFechaFinal" name="sFechaFinal" type="text" value="@ViewBag.FechaFinal.ToString("dd/MM/yyyy")" class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
 

    <select class="form-control" id="validar" name="Validar">
        <option value="0">Mostrar Todo</option>
        <option value="1">Pendientes</option>
    </select>
    <br />
    <br />
    <div style="padding-left:3em">
        @Html.ActionLink("Crear", "Create", new { }, new { @class = "btn Bordear btn-primary" })
        <button type="submit" class="btn Bordear  btn-primary"><span class="glyphicon glyphicon-search"></span></button>
    </div>
</div>
    
    }
<hr />
<div class="table-responsive">
    <table id="MyData" data-page-length="10">
        <thead>

            <tr>
                <th>
                    Numero Factura
                </th>
                <th>
                    Nombre Cliente
                </th>
                <th>
                    Fecha Orden
                </th>
                <th>
                    Total Orden
                </th>
                <th>
                    Cantidad  Pagada
                </th>
                <th>
                    Cantidad Pendiente
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VentaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @item.Fecha.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalOrden)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadPagada)
                    </td>
                    <td>
                        @((item.TotalOrden - item.Pagos.Sum(p => p.Monto)).ToString("C2"))
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.VentaId }, new { @class = "btn Bordear btn-warning" })
                        @Html.ActionLink("Detalles", "Details", new { id = item.VentaId }, new { @class = "btn Bordear btn-info" })
                        @Html.ActionLink("Borrar", "Delete", new { id = item.VentaId }, new { @class = "btn Bordear btn-danger" })
                    </td>



                </tr>
            }

        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('#fechaInicial').datetimepicker({ format: "DD/MM/YYYY" });
            $('#fechaFinal').datetimepicker({ format: "DD/MM/YYYY" });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var Mydata = $('#MyData').DataTable({
                "language": {
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "search": "Buscar",
                    "infoEmpty": "Mostrando 0 to 0 of 0 datos    ",
                    "infoFiltered": "(filtrar de _MAX_ datos totales)",
                    "lengthMenu": "Mostrar _MENU_ datos",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "zeroRecords": "Ningun registro coincide",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "dom": 'Brtip',
                "order": [[0, "desc"]],
                buttons: ['print',

                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });

            //    var table = $('#MyData').DataTable();

            //    $('.buscarModal0').on('keyup', function () {
            //        debugger;
            //        table.columns(0).search($('.buscarModal0').val().trim());
            ////    $('#MyData').draw();
            //        table.draw();
            //       // table.search(this.val).draw();
            //    });
            $('.buscarNumero').keyup(function () {
                debugger;
                Mydata.columns(0).search($('.buscarNumero').val().trim());
                //  $('#MyData').search($('.buscarModal0').val().trim());
                //MyData.columns(0).search($('.buscarModal0').val().trim());
                // $('#MyData').draw();
                //MyData.draw();
                Mydata.draw();
            });
            $('.buscarFecha').keyup(function () {
                debugger;
                Mydata.columns(2).search($('.buscarFecha').val().trim());
                //  $('#MyData').search($('.buscarModal0').val().trim());
                //MyData.columns(0).search($('.buscarModal0').val().trim());
                // $('#MyData').draw();
                //MyData.draw();
                Mydata.draw();
            });
            $('.buscarCliente').keyup(function () {
                debugger;
                Mydata.columns(1).search($('.buscarCliente').val().trim());
                //  $('#MyData').search($('.buscarModal0').val().trim());
                //MyData.columns(0).search($('.buscarModal0').val().trim());
                // $('#MyData').draw();
                //MyData.draw();
                Mydata.draw();
            });

        });






    </script>
}
