@model IEnumerable<Domain.Ventas>

@{
    ViewBag.Title = "Index";
}

<style>
    h2, h4, th, dt, label, a {
        color: white;
        text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px White;
    }

    td, dd {
        color: white;
        text-shadow: 2px 2px 5px white;
    }

    #Bordear {
        border-radius: 50%;
    }

    a:hover {
        color: white;
    }

    #Bordear:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        font-size: 15px;
    }
</style>


    <h2>Pagina Principal</h2>

    <p>
        @Html.ActionLink("Crear", "Create", new { }, new { @class = "btn btn-primary",@id= "Bordear" })
    </p>


    <table class="table">
        <tr>
            <th>
                Nombre Cliente
            </th>
            <th>
                Fecha Orden
            </th>
            <th>
                Total Orden
            </th>
            <th>
                Cantidad  Pagada
            </th>
            <th>
                Cantidad Pendiente
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOrden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPagada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPendiente)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.VentaId }, new { @class = "btn btn-warning", @id = "Bordear" })
                @Html.ActionLink("Detalles", "Details", new { id = item.VentaId }, new { @class = "btn btn-info", @id = "Bordear" })
                @Html.ActionLink("Borrar", "Delete", new { id = item.VentaId }, new { @class = "btn btn-danger", @id = "Bordear" })
            </td>



        </tr>
        }

    </table>


